.about {
    display: flex;
    padding-bottom: 50px;
    width: 96vw;
    margin-left: 2%;
}

#img {
    width: 40vw;
    height: 75vh;
    border-radius: 20px;
    border: 3px solid crimson;
}

.ab {
    margin-left: 1%;
}

#ab {
    font-size: 3vw;
    margin-top: 20px;
}

#hr1 {
    width: 18vw;
    margin-bottom: 10px;
    border-color: black;
}

#p3 {
    font-size: 1.5vw;
    padding-right: 20px;
    text-align: justify;
    font-weight: bold;
}

#table {
    margin-top: 2vh;
}

#td {
    padding-top: 20px;
    font-weight: bold;
}

.td {
    padding-left: 10px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;
        width: 96%;
        margin-left: 2%;
    }

    #img {
        width: 85vw;
        height: 45vh;
        margin-left: 1.4vw;
        border: 3px solid crimson;
    }

    #hr1 {
        width: 40vw;
    }

    #p3 {
        font-size: 3.5vw;
    }
    #ab{
        font-size: 8vw;
    }
    #table {
        margin-top: 1vh;
    }
}